aioredis==1.3.1
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1620866417880/work
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2021.10.8
cffi==1.14.6
channels==3.0.4
channels-redis==3.3.0
charset-normalizer==2.0.3
cmake==3.22.2
colorama==0.4.4
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.7
daphne==3.0.2
defusedxml==0.7.1
Django==3.2.5
django-allauth==0.45.0
django-channels==0.7.0
django-cors-headers==3.8.0
django-crispy-forms==1.12.0
django-templated-mail==1.1.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
djoser==2.1.0
docopt==0.6.2
face-recognition-models==0.3.0
google-api-core==1.31.0
google-api-python-client==2.14.1
google-auth==1.33.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
gunicorn==20.1.0
hiredis==2.0.0
httplib2==0.19.1
hyperlink==21.0.0
idna==3.2
incremental==21.3.0
itypes==1.2.0
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
msgpack==1.0.2
mysql==0.0.3
mysql-connector-python-rf==2.2.2
mysqlclient==2.0.3
numpy==1.21.2
oauthlib==3.1.1
opencv-python==4.5.5.62
packaging==21.0
paytmchecksum==1.7.0
Pillow==8.3.1
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1615748559966/work
pycparser==2.20
PyJWT==2.1.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2021.1
razorpay==1.2.0
redis==2.10.6
redis-cli-cluster==0.6.1
redis-py-cluster==1.3.6
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
service-identity==21.1.0
six==1.16.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
soupsieve==2.2.1
sqlparse==0.4.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
Twisted==21.7.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.6
waitress==2.0.0
whitenoise==6.0.0
wincertstore==0.2
zope.interface==5.4.0
